.bg-header-footer{
    background-color: #2c3e50;
}

.bg-jumbotron{
    background-color: #1abc9c;
}

.bg-footer{
    background-color: #3a546d;
}

.text-color{
    color: #1abc9c;
}

.bar{
    width: 100px;
    height: 5px;
}