img{
    max-width: 50%;
}

.ms-border{
    border: 1px dashed black;
}

.bg-jumbotron{
    background-color: #1abc9c;
}

.bg-footer{
    background-color: #3a546d;
}

.bg-header-footer{
    background-color: #2c3e50;
}

#about{
    height: 450px;
}

#contact{
    height: 450px;
}
