/* *Utility Color* */

.bg-header-footer{
    background-color: #2c3e50;
}

.bg-jumbotron{
    background-color: #1abc9c;
}

.bg-footer{
    background-color: #3a546d;
}

.text-color{
    color: #1abc9c;
}


/* *Bar next Star* */
.bar{
    width: 100px;
    height: 5px;
}

/* *Border bottom in form* */
#contact .form-control{
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid black;
    resize: none;
}