.ms-border{
    border: 1px dashed black;
}

.ms-height{
    height: 100%;
}

.ms-align-items{
    align-items: center;
}

.ms-text-center{
    text-align: center;
}

.ms-text-left{
    text-align: left;
}

.ms-text-right{
    text-align: right;
}

header{
    height: 80px;
    background-color: #2c3e50;
}

.jumbotron{
    height: 450px;
    background-color: #1abc9c;
}

.col-12{
    height: 300px;
}

.about{
    height: 450px;
    background-color: #1abc9c;
}

.contact{
    height: 450px;
}

